<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HRMDAL.Properties.Settings.s" connectionString="Data Source=172.16.112.5;Initial Catalog=HRM;Persist Security Info=True;User ID=sa;Password=sags8485383cxr;Connect Timeout=200"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>